<!-- Members: Miguel Avila, Federico Rosado -->

        <hr class="featurette-divider" />

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">
              Subject:
              <span class="text-muted"> {{ .Subject }}</span>
            </h2>
            <p class="lead">
              {{ .Message }}
            </p>
            <p class="mt-5 w-100 row">
              <span class="col-md-6 text-muted">Posted by: {{ .FirstName }} {{ .LastName }} </span>
              <span class="col-md-6 text-muted">Date: {{ .Date_Created }} </span>
              <span class="col-md-6 text-muted">Email: {{ .Email }} </span>
            </p>
          </div>

          <div class="col-md-5">
            <img
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
              width="500"
              height="500"
              src="https://cdn.shopify.com/s/files/1/1834/6077/files/26_Best_Coffee_Blogs_and_Websites.jpg?v=1519932751"
              role="img"
              aria-label="Placeholder: 500x500"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
            </img>
          </div>
        </div>


