<!-- Members: Miguel Avila, Federico Rosado -->

        <!-- /END THE FEATURETTES -->
    </div>

        <!-- /.container -->
    </main>
        <!-- FOOTER -->

    <footer class="mt-4 text-center text-black-50">
        <hr class="featurette-divider" />
        <p>
            UB Email Address:

            <a href="mailto:2013110993@ub.edu.bz" class="text-dark"
            >2013110993@ub.edu.bz</a
            >, &
            <a href="mailto:2018219412@ub.edu.bz" class="text-dark"
            >2018219412@ub.edu.bz</a
            >.
        </p>
      </footer>
  </body>
</html>